package components

templ CompletedGame() {
    <div hx-swap-oob="afterbegin:#grid">
        <div id="blurScreen"></div>
        <div class="endGame"> 
            <div>
                <h2>Congratulations</h2>
                <h3>Thanks for playing</h3>
            </div>
        </div>
    </div>
}