package components

templ EndGame() {
    <div>
        <div id="blurScreen"></div>
        <form id="sendUser" hx-trigger="submit" ws-send hx-on:submit="this.parentElement.remove()">
            <input id="usernameInput" name="username" type="text" placeholder="Username" required/>
            <div id="userColorHolder">
                <label>User Color:</label>
                <div id="colorRadioHolder">
                    <input type="radio" id="red" class="colorRadio red" name="radioColor" value="red" required>
                    <input type="radio" id="blue" class="colorRadio blue" name="radioColor" value="blue">
                    <input type="radio" id="yellow" class="colorRadio yellow" name="radioColor" value="yellow">
                    <input type="radio" id="green" class="colorRadio green" name="radioColor" value="green">
                    <input type="radio" id="pink" class="colorRadio pink" name="radioColor" value="pink">
                    <input type="radio" id="salmon" class="colorRadio salmon" name="radioColor" value="salmon">
                </div>
            </div>
            <button type="submit"> Join Room </button>
        </form>
    </div>
}