package components

templ FailedGame() {
    <div hx-swap-oob="afterbegin:#grid">
        <div id="blurScreen"></div>
        <div class="endGame"> 
            <div>
                <h2>Too Many Mistakes</h2>
                <h3>good luck next time</h3>
            </div>
        </div>
    </div>
}