package components

import "github.com/deej-tsn/compSudoku/internal/models"

templ Game(game *models.Game) {
    <div id="game">
        @Grid(game)
        
        @NumbersBoard(game.NumbersLeft)
    </div>

}