package components

import "github.com/deej-tsn/compSudoku/internal/models"

templ Grid(game *models.Game) {
    <div id="board" hx-swap-oob="outerHTML:#board">
        <div id="extras">
            @InputType(game.EditState)
            @Mistakes(game.Mistakes)
        </div>
        <div id="grid">
            <hr class="bold">
            for i, row := range game.Grid{
                @Row(row)
                if i % 3 == 2{
                    <hr class="bold">
                } else{
                    <hr>
                }
            }
        </div>
    
    </div>

}