package components

import "github.com/deej-tsn/compSudoku/internal/models"

templ Grid(grid models.Grid) {

    <div id="grid" hx-get="/sudoku/board" hx-trigger="every 1s" hx-swap="outerHTML">
        <hr class="bold">
        for i, row := range grid{
            @Row(row)
            if i % 3 == 2{
                <hr class="bold">
            } else{
                <hr>
            }
        }
    </div>
}