package components

import "github.com/deej-tsn/compSudoku/internal/helper"

templ InputType(editMode bool) {
    <div id="inputType" class={templ.KV("editMode", editMode), templ.KV("optionMode", !editMode)} ws-send data-ws={helper.FlipEditMode()} hx-ext="wsSend" hx-swap="outerHTML">
        <div id="inputSlider">
            
        </div>
    
    </div>
}