package components

import "strconv"
import "fmt"


templ Number(num int, disabled bool) {
    if disabled {
        <div class="number disabled" hx-swap-oob={fmt.Sprintf("outerHTML:#inputNum%d", num)}>
            {strconv.Itoa(num)}
        </div>
    } else {
        <div id={fmt.Sprintf("inputNum%d",num)} class="number" hx-post="/sudoku/active" hx-vals={fmt.Sprintf("{\"value\" : \"%d\"} ",num)} hx-swap="outerHTML" hx-target="#board" hx-trigger="click">
            {strconv.Itoa(num)}
        </div>
    }

}