package components

templ NumbersBoard(numbersLeft []int) {
    <div id="numberBoard">
        @Number(0, false)
        for i := range(9){
            @Number(i+1, (numbersLeft[i] <= 0))
        }
    </div>
}