package components

import "github.com/deej-tsn/compSudoku/internal/models"
import "fmt"
import "github.com/deej-tsn/compSudoku/internal/helper"

templ Square(square models.Square) {
    if square.Active {
        if square.Confirmed {
            <div id="activeSquare" class="square" ws-send data-ws={helper.ActiveSquareFormat(square)} hx-ext="wsSend" hx-swap="outerHTML" hx-target="#board" hx-trigger="click"> 
                    {fmt.Sprintf("%d",square.Value)}
            </div>
        } else {
            <div id="activeSquare" class={"square", templ.KV("isIncorrect", square.Value > 0 && square.Value != square.ActualValue)} ws-send hx-ext="wsSend" hx-swap="outerHTML" hx-target="#board" hx-trigger="newValue"> 
                if square.Value > 0 {
                    {fmt.Sprintf("%d",square.Value)}
                }
            </div>
        } 
    } else {
        <div class={"square", templ.KV("isRelated", square.RelatedToActive), templ.KV("isSameValue", square.SameValueToActive), templ.KV("isIncorrect", square.Value > 0 && square.Value != square.ActualValue)} ws-send hx-ext="wsSend" data-ws={helper.ActiveSquareFormat(square)} hx-swap="outerHTML" hx-target="#board" hx-trigger="click"> 
            if square.Value > 0 {
                {fmt.Sprintf("%d",square.Value)}
            }
        </div>

    }

}