package components

import (
    "github.com/deej-tsn/compSudoku/internal/models"
    chatComponents "github.com/deej-tsn/compSudoku/web/components/chat"
    sudokuComponents "github.com/deej-tsn/compSudoku/web/components/sudokuBoard"
    settingComponents "github.com/deej-tsn/compSudoku/web/components/settings"
) 


templ Content(game *models.Game, chat *models.ChatLog) {
    <div id="content">
        @sudokuComponents.Game(*game)
        <div id="sideContent">
            @chatComponents.Chatbox(*chat)
            @settingComponents.Setting()
        </div>
        
    </div>
}