package components

import "github.com/deej-tsn/compSudoku/internal/models"

templ Chatbox(chatLog models.ChatLog) {
    <ul id="chatbox">
        for _, message := range chatLog{
            @Message(*message)
        }

    </ul>
}