package components

templ LoadChats() {
    <form id="loadChats">
        <input id="messageContent" name="message" type="text" placeholder="send message" ws-send />
        <button type="submit" id="messageButton"> > </button>
    </form> 
}