package components

import "github.com/deej-tsn/compSudoku/internal/models"

templ Message(message models.Message) {
    <li class="message">
        <h5>{message.Author}</h5>
        <p>{message.Text}</p>
    </li>
}