package components

import "github.com/deej-tsn/compSudoku/internal/models"

templ Message(message models.Message) {
    <li class="message">
        <h3>{message.Author}</h3>
        <p>{message.Text}</p>
    </li>
}