package components

templ UsernameForm() {
    <div>
        <div id="blurScreen"></div>
        <form id="sendUser" hx-trigger="submit" ws-send hx-on:submit="this.parentElement.remove()">
            <input id="usernameInput" name="username" type="text" placeholder="Username"/>
            <div id="userColorHolder">
                <label>User Color:</label>
                <div id="colorRadioHolder">
                    <input type="radio" id="redRadio" class="colorRadio" name="radioColor" value="red">
                    <input type="radio" id="blueRadio" class="colorRadio" name="radioColor" value="blue">
                    <input type="radio" id="yellowRadio" class="colorRadio" name="radioColor" value="yellow">
                    <input type="radio" id="greenRadio" class="colorRadio" name="radioColor" value="green">
                    <input type="radio" id="pinkRadio" class="colorRadio" name="radioColor" value="pink">
                    <input type="radio" id="salmonRadio" class="colorRadio" name="radioColor" value="salmon">
                    <input type="radio" id="redrRadio" class="colorRadio" name="radioColor" value="red">
                    <input type="radio" id="redrRadio" class="colorRadio" name="radioColor" value="red">
                </div>
            </div>
            <button type="submit"> Join Room </button>
        </form>
    </div>
}