package components

templ FailedGame() {
    <div>
        <div id="blurScreen"></div>
        <div id="failed">
            <h2>Too Many Mistake</h2>
            <h3>good luck next time</h3>
            <button>New Game</button>
        </div>
    </div>
}