:root {

	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
    --selected : #537fa3;
}

#setting {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:var(--tritary);
}

#blurScreen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
}



#sendUser{
    width: 20rem;
    height: fit-content;
    padding: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50%  -50%;
    background-color: var(--tritary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    color: white;
    border: 2px white;

    label{
        font-weight: 600;
        font-size: larger;
    }

    #colorRadioHolder{
        margin-top: 0.5rem;
        width: 100%;
        display: flex;
        justify-content: space-evenly;


    }

    .colorRadio{
        width: 1.5rem;
        aspect-ratio: 1;
    }

    #usernameInput{
        width: 80%;
        margin: 1rem;
        border: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        border-radius: 10px;
        filter: var(--dropShadow);
    }

    #userColorHolder{
        width: 80%;
        margin: 1rem;
    }

    button{
        width: 80%;
        background-color: #964734;
        color: white;
        cursor: pointer;
        border: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 10px;
        filter: var(--dropShadow);
    }
}

.red{
    accent-color:#964734;
    background-color: #964734;

}


.blue{
    accent-color:#343c96;
    background-color: #343c96;
}


.yellow{
    accent-color:#8f9634;
    background-color: #8f9634;
}


.green{
    accent-color:#399634;
    background-color: #399634;
}


.pink{
    accent-color:#96347a;
    background-color: #96347a;
}


.salmon{
    accent-color:#963450;
    background-color: #963450;
}

#newGame{
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 100px;
    background-color: var(--selected);
    background-image: url(/assets/Plus.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    filter: var(--dropShadow);
    cursor: pointer;
    
    img {
        filter: invert(1);
    }
}