@import url("../css/sudoku.css");
@import url("../css/chat.css");
@import url("../css//settings.css");

:root {
    --primary : #003135;
    --secondary: #6aa5af;
    --tritary : #024950;
}


body {
    background-color: var(--primary);
    width: 100vw;
    height: 100vh;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    filter: var(--dropShadow);
    padding: 2rem;
}

#sideContent{
    width: 100%;
    height:calc(9*var(--squareSize)); 
    display: flex;
    flex-direction: column;
}


/* Medium Screen */
@media (min-width: 768px) {
    #content{

        flex-direction: row;
    }

    #sideContent{
        width: 20rem;
    }


}
/* Large Screen */
@media (min-width: 1025px) {
    #content {
        width: fit-content;
        height: fit-content;
    }
}