:root{
    --squareSize : 2rem;
    --select : #537fa3;
    --related : #668199;
    --sameValue : #4b6c8a;
    --dropShadow : drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));

}

hr {
    width: 100%;
    height: 1px;
    background-color: rgb(185, 185, 185);
    border: 0;
    margin: 0;
    z-index: -10;
}

.bold {
    height: 2px;
    background-color: white;
    z-index: 10;
}

#game{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

#extras{
    width: 100%;
    height: fit-content;
    margin-bottom: 0.5rem;
}

#mistakes{
    margin: auto;
}

#board{
    position: relative;
}

#inputType{
    width: 3rem;
    height: 1.5rem;
    border-radius: 20px;
    border:2px solid white; 
    margin-right: auto;
    display: block;
    position: relative;
    transition: background-color 0.3s ease-in-out;

    #inputSlider{
        position: absolute;
        top: 50%;
        
        translate: 0 -50%;
        height: 1rem;
        width: 1rem;
        background-color: white;
        border-radius: 25px;
        transition: left 0.3s ease-in-out;
    }
}

#inputType.optionMode{
    
    background-color: var(--select);

    #inputSlider{
        left: 55%;
    }
}

#inputType.editMode{

    background-color: var(--tritary);

    #inputSlider{
        left: 10%;
    }
}

#mistakes {
    width: fit-content;
    font-size: larger;
    font-weight: 600;
    color:var(--tritary)
}


#grid {
    width: fit-content;
    display: flex;
    flex-direction: column;
    filter: var(--dropShadow);
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    
}

#numberBoard{
    min-width: fit-content;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#deleteNum {
    background-image: url("../assets/Delete.svg");
    background-position: 4px 5px;
    background-size: 1.4rem; 
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.number{
    width: 2rem;
    height: 2rem;
    border-radius: 100px;
    background-color: var(--tritary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: calc(0.7*var(--squareSize));
    filter: var(--dropShadow);
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.number:hover {
    background-color: var(--select);
}

.disabled{
    cursor: default;
    background-color: #668199;
    color: black;
}

.endGame{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;

    div {
        z-index: 200;
        width: 50%;
        height: 50%;
        background-color: var(--tritary);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.row {
    width: fit-content;
    height: var(--squareSize);
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    z-index: 20;

    hr{
        width: 1px;
        height: 100%;
        background-color: rgb(185, 185, 185);
        border: 0;
    }

    .bold {
        width: 2px;
        background-color: white;
    }
}



.square{
    width: var(--squareSize);
    height: var(--squareSize);
    background-color:var(--tritary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: calc(0.8*var(--squareSize));
    transition: background-color 0.1s ease-in-out;
    color: white;
}



#activeSquare{
    background-color: var(--select);
}
.isRelated{
    background-color: var(--related);
}

.isSameValue{
    background-color: var(--sameValue);
}
.isIncorrect {
    color: rgb(181, 5, 5);
}


@media (min-width: 400px) {
    :root{
        --squareSize:2.5rem;
    }

    .number {
        width: 2.5rem;
        height: 2.5rem;
    }

    #deleteNum{
        background-position: 4px 7px;
        background-size: 1.7rem; 
    }
}

/* Medium Screen */
@media (min-width: 768px) {
    :root{
        --squareSize : 3rem
        
    }

    .square:hover{
        background-color: var(--select);
    }

    #game{
        margin-right: 2rem;
        margin-bottom: 0;
    }
    


}
/* Large Screen */
@media (min-width: 1025px) {
    :root {
        --squareSize : 3rem
    }
}