:root{
    --squareSize : 2.5rem;
    --select : #537fa3;
    --related : #668199;
    --sameValue : #4b6c8a;
    --dropShadow : drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));

}

hr {
    width: 100%;
    height: 1px;
    background-color: rgb(185, 185, 185);
    border: 0;
    margin: 0;
    z-index: -10;
}

.bold {
    height: 2px;
    background-color: white;
    z-index: 10;
}

#game{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}


#grid {
    display: flex;
    flex-direction: column;
    filter: var(--dropShadow);
    margin-bottom: 1rem;
    
    
}

#numberBoard{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.number{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100px;
    background-color: var(--tritary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: calc(0.7*var(--squareSize));
    filter: var(--dropShadow);
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.number:hover {
    background-color: var(--select);
}


.row {
    width: fit-content;
    height: var(--squareSize);
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    z-index: 20;

    hr{
        width: 1px;
        height: 100%;
        background-color: rgb(185, 185, 185);
        border: 0;
    }

    .bold {
        width: 2px;
        background-color: white;
    }
}



.square{
    width: var(--squareSize);
    height: var(--squareSize);
    background-color:var(--tritary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: calc(0.8*var(--squareSize));
    transition: background-color 0.1s ease-in-out;
    color: white;


}



#activeSquare{
    background-color: var(--select);
}
.isRelated{
    background-color: var(--related);
}

.isSameValue{
    background-color: var(--sameValue);
}
.isIncorrect {
    color: rgb(181, 5, 5);
}

/* Medium Screen */
@media (min-width: 768px) {
    :root{
        --squareSize : 3rem
        
    }

    .square:hover{
        background-color: var(--select);
    }

    #game{
        margin-right: 2rem;
        margin-bottom: 0;
    }
    


}
/* Large Screen */
@media (min-width: 1025px) {
    :root {
        --squareSize : 3rem
    }
}